<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
  <pdfConfig>
    <watermark>GlasswallProtect</watermark>
    <external_hyperlinks>sanitise</external_hyperlinks>
    <acroform>sanitise</acroform>
    <metadata>sanitise</metadata>
    <javascript>sanitise</javascript>
    <actions_all>sanitise</actions_all>
    <internal_hyperlinks>sanitise</internal_hyperlinks>
    <embedded_files>sanitise</embedded_files>
    <embedded_images>sanitise</embedded_images>
  </pdfConfig>
  <wordConfig>
    <macros>sanitise</macros>
    <metadata>sanitise</metadata>
    <review_comments>sanitise</review_comments>
    <embedded_files>sanitise</embedded_files>
    <internal_hyperlinks>sanitise</internal_hyperlinks>
    <external_hyperlinks>sanitise</external_hyperlinks>
    <dynamic_data_exchange>sanitise</dynamic_data_exchange>
    <embedded_images>sanitise</embedded_images>
  </wordConfig>
  <pptConfig>
    <macros>sanitise</macros>
    <metadata>sanitise</metadata>
    <review_comments>sanitise</review_comments>
    <embedded_files>sanitise</embedded_files>
    <internal_hyperlinks>sanitise</internal_hyperlinks>
    <external_hyperlinks>sanitise</external_hyperlinks>
    <embedded_images>sanitise</embedded_images>
  </pptConfig>
  <xlsConfig>
    <macros>sanitise</macros>
    <metadata>sanitise</metadata>
    <review_comments>sanitise</review_comments>
    <embedded_files>sanitise</embedded_files>
    <internal_hyperlinks>sanitise</internal_hyperlinks>
    <external_hyperlinks>sanitise</external_hyperlinks>
    <dynamic_data_exchange>sanitise</dynamic_data_exchange>
    <embedded_images>sanitise</embedded_images>
  </xlsConfig>
</config>